.page#aboutPage {
    background-color: #ECE5B6;

}
.aboutBlock {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.aboutBlock#aboutAboutBlock {
    background-color: #669966;
}
.aboutBlock#aboutHowBlock {
    background-color: #666699;
}

.aboutBlock h1 {
    text-align: center;
    margin: 2px 0px 20px 0px;
    font-size: 20px;
    font-weight: bold;

}


.aboutBlock p {
}